@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

// Update Bulma's global variables
$family-sans-serif: 'Nunito', sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import '../node_modules/bulma/sass/utilities/_all.sass';
@import '../node_modules/bulma/sass/base/_all.sass';
@import '../node_modules/bulma/sass/elements/button.sass';
@import '../node_modules/bulma/sass/elements/container.sass';
@import '../node_modules/bulma/sass/elements/form.sass';
@import '../node_modules/bulma/sass/elements/title.sass';
@import '../node_modules/bulma/sass/components/navbar.sass';
@import '../node_modules/bulma/sass/layout/hero.sass';
@import '../node_modules/bulma/sass/layout/section.sass';
@import '../node_modules/bulma/sass/grid/columns.sass';


// Style
.container {
    max-width: 960px;
    max-width: 1060px;
    height: 600px;
    margin-top: 5%;
    margin-left: 26%;
    align-self: center;
}

.text {
    font-size: 18px;
    width: 1000px;
}

.example {
	width: 650px;
	height: 650px;
}

.title {
    align-items: center;
    align-content: center;
}

.left-menu {
    padding-top: 3px;
    padding-right: 50px;
    width: 125%;
    height: 500px;
    overflow-y: auto;
    direction: rtl;
    background-color: $brown;
}

.button {
    margin: 3px;
    margin-left: 20px;
    margin-right: 15px;
    width: 80%;
    border-width: 1px;
}

.button:hover {
    background-color: #aeafac;
    color: #faf5f8;
    border-color: transparentize($color: #aeafac, $amount: 0);
}

.button:focus {
    background-color: #aeafac;
    color: #faf5f8;
    border-color: transparentize($color: #aeafac, $amount: 0);
}

// React Ace Editor
.example {
    margin-left: 12px;
    margin-top: 2px;
}

#textarea {
    width:80%;
    margin-left: 55px;
    margin-right: 15px;
}

